<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/primer.html">区块链超入门</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/block100.html">区块链应用场景100</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contracts.html">智能合约开发指南</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/101blockchain.html">区块链宝典 101</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
-->

